@model MontagemCurriculo.Models.Curriculo

@{
    ViewData["Title"] = "Curriculo" + Model.Nome;
}

<div>
    <ul class="collection with-header">
        <li class="collection-header">
            Objetivos <a asp-action="Create" asp-controller="Objetivos" asp-route-id="@Model.CurriculoId" class="btn-floating btn-small blue darken-4"><i class="material-icons">add</i></a>
        </li>
        @await Component.InvokeAsync("Objetivos", Model.CurriculoId)
    </ul>
</div>