@model MontagemCurriculo.Models.Curriculo

@{
    ViewData["Title"] = "Curriculo" + Model.Nome;
}

<div>
    <ul class="collection with-header">
        <li class="collection-header">
            Objetivos <a asp-action="Create" asp-controller="Objetivos" asp-route-id="@Model.CurriculoId" class="btn-floating btn-small blue darken-4"><i class="material-icons">add</i></a>
        </li>
        @await Component.InvokeAsync("Objetivos", Model.CurriculoId)
    </ul>

    <ul class="collection with-header">
        <li class="collection-header">
            Formações Acadêmicas <a asp-action="Create" asp-controller="FormacoesAcademicas" asp-route-id="@Model.CurriculoId" class="btn-floating btn-small blue darken-4"><i class="material-icons">add</i></a>
        </li>
        @await Component.InvokeAsync("FormacoesAcademicas", Model.CurriculoId)
    </ul>

    <ul class="collection with-header">
        <li class="collection-header">
            Experiências Profissionais <a asp-action="Create" asp-controller="ExperienciasProfissionais" asp-route-id="@Model.CurriculoId" class="btn-floating btn-small blue darken-4"><i class="material-icons">add</i></a>
        </li>
        @await Component.InvokeAsync("ExperienciasProfissionais", Model.CurriculoId)
    </ul>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Confirmar Exclusão</h4>
        <p>Deseja prosseguir com a exclusão ?</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close btn-small green accent-4">Não</a>
        <a class="modal-close btn-small red accent-4 btnConfirmar">Sim</a>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".modal").modal();
        });

        function ExibirModal(id, objeto) {
            $("#modal1").modal("open");

            var url = "/" + objeto + "/Delete"

            $(".btnConfirmar").on('click', function () {
                $.ajax({
                    method: "POST",
                    url: url,
                    data: { id: id },
                    success: function () {
                        alert("Exclusão feita com sucesso ");
                        location.reload();
                    }
                });
            });
        }
    </script>
}